.gifsGoHere .submitForm {
    width: 960px;
    display: inline;
}

.submitForm {
    float: right;
}

.gifDiv {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

img {
    margin-left: 2%;
    margin-right: 2%;

}